name: Sync AOSP repo to CNB
on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync AOSP repo to CNB
        run: |
          git lfs install
          git config --global lfs.locksverify true
          git init

          git remote add source https://android.googlesource.com/platform/prebuilts/misc
          git fetch --depth 1 source refs/changes/27/3918627/1
          git lfs fetch source refs/changes/27/3918627/1

          ORIGINAL_COMMIT=FETCH_HEAD
          TREE=$(git rev-parse $ORIGINAL_COMMIT^{tree})
          AUTHOR_NAME=$(git log -1 --pretty=format:'%an' $ORIGINAL_COMMIT)
          AUTHOR_EMAIL=$(git log -1 --pretty=format:'%ae' $ORIGINAL_COMMIT)
          AUTHOR_DATE=$(git log -1 --pretty=format:'%aI' $ORIGINAL_COMMIT)
          COMMITTER_NAME=$(git log -1 --pretty=format:'%cn' $ORIGINAL_COMMIT)
          COMMITTER_EMAIL=$(git log -1 --pretty=format:'%ce' $ORIGINAL_COMMIT)
          COMMITTER_DATE=$(git log -1 --pretty=format:'%cI' $ORIGINAL_COMMIT)
          COMMIT_MSG=$(git log -1 --pretty=format:'%B' $ORIGINAL_COMMIT)

          NEW_COMMIT=$(GIT_AUTHOR_NAME="$AUTHOR_NAME" \
              GIT_AUTHOR_EMAIL="$AUTHOR_EMAIL" \
              GIT_AUTHOR_DATE="$AUTHOR_DATE" \
              GIT_COMMITTER_NAME="$COMMITTER_NAME" \
              GIT_COMMITTER_EMAIL="$COMMITTER_EMAIL" \
              GIT_COMMITTER_DATE="$COMMITTER_DATE" \
              git commit-tree $TREE -m "$COMMIT_MSG")

          git update-ref refs/heads/lineage23.2 $NEW_COMMIT

          git for-each-ref --format='%(refname)' refs/remotes refs/heads | \
              grep -v 'refs/heads/lineage23.2' | xargs -r -n1 git update-ref -d

          git remote add target https://cnb:${{ secrets.CNB_TOKEN }}@cnb.cool/MZWNET/AOSP/platform_prebuilts_misc.git
          git push target refs/heads/lineage23.2:refs/heads/lineage23.2
          git lfs push target lineage23.2
