name: Sync AOSP repo to CNB
on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync AOSP repo to CNB
        run: |
          git lfs install
          git config --global lfs.locksverify true
          git init

          git remote add source https://android.googlesource.com/platform/prebuilts/misc
          git fetch --depth 1 source refs/changes/27/3918627/1
          git checkout FETCH_HEAD

          TREE=$(git rev-parse HEAD^{tree})
          AUTHOR_NAME=$(git log -1 --pretty=format:'%an' HEAD)
          AUTHOR_EMAIL=$(git log -1 --pretty=format:'%ae' HEAD)
          AUTHOR_DATE=$(git log -1 --pretty=format:'%aI' HEAD)
          COMMITTER_NAME=$(git log -1 --pretty=format:'%cn' HEAD)
          COMMITTER_EMAIL=$(git log -1 --pretty=format:'%ce' HEAD)
          COMMITTER_DATE=$(git log -1 --pretty=format:'%cI' HEAD)
          COMMIT_MSG=$(git log -1 --pretty=format:'%B' HEAD)

          NEW_COMMIT=$(GIT_AUTHOR_NAME="$AUTHOR_NAME" \
              GIT_AUTHOR_EMAIL="$AUTHOR_EMAIL" \
              GIT_AUTHOR_DATE="$AUTHOR_DATE" \
              GIT_COMMITTER_NAME="$COMMITTER_NAME" \
              GIT_COMMITTER_EMAIL="$COMMITTER_EMAIL" \
              GIT_COMMITTER_DATE="$COMMITTER_DATE" \
              git commit-tree $TREE -m "$COMMIT_MSG")

          git branch lineage23.2 $NEW_COMMIT
          git checkout lineage23.2

          git for-each-ref --format='%(refname)' refs/remotes refs/heads | \
              grep -v 'refs/heads/lineage23.2' | xargs -r -n1 git update-ref -d

          git remote add target https://cnb:${{ secrets.CNB_TOKEN }}@cnb.cool/MZWNET/AOSP/platform_prebuilts_misc.git
          git push target lineage23.2:lineage23.2
          git lfs push target lineage23.2
